# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

/proj.ios_mac/HelloCpp.xcodeproj/project.xcworkspace/xcuserdata/belm.xcuserdatad/UserInterfaceState.xcuserstate
